:root {
	--basic-white: #FFF;
	--basic-black: #000;
	--light-black: #283136;

	--button-red: #FB565A;
	--button-green:  #00CA74;
	--button-yellow: #EFC849;

	--special: #EEE;
	--special-gradient: #E1E1E1;
	--special-form: #666;
	--special-social: #444;

	--focus-link: #FB565A;
	--red-focus-button: #E74246;
	--green-focus-button: #00BC6C;
	--yellow-focus-button: #EAB534;
	--grey-focus-button: #DFDFDF;
}

body {
	min-width: 1460px;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-style: normal;
	font-weight: normal;
	color: var(--basic-black);
	background-color: var(--basic-white);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}


/*Мне показалось более логичным сразу у всех списков убрать изначальное оформление, 
чтобы не прописывать потом это несколько раз*/


ul {
	list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page {
	height: 100%;
}

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: 
		min-content
		1fr
		min-content;
	align-content: start;
}

.main-navigation {
	display: flex;
	justify-content: space-between;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: var(--basic-black);
	background-color: var(--special); 
}

.main-header-logo {
	width: 159.87px;
	height: 65.02px;
	margin-left: 140px;
	margin-top: 49px;
}

.site-navigation {
	max-width: 650px;
	margin: 0;
	padding: 0;
}

.user-navigation {
	margin-right: 140px;
	margin-top: 70px;
	max-width: 200px;
	height: 30px;
	padding-left: 50px;
}

.main-navigation a {
	color: var(--basic-black);
}

.site-navigation a:focus,
.site-navigation a:hover,
.user-navigation a:focus,
.user-navigation a:hover {
	color: var(--focus-link);
}

.description {
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: var(--light-black);
	background-color: var(--special);
}

.description span {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: var(--basic-black);
}

.des-hide {
	display: none;
} 

.types-products {
	font-size: 16px;
	line-height: 24px;
	color: var(--light-black); 
	margin-bottom: 80px;
}

.heading-types-products {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: var(--basic-black);
}

.products-list {
	display: grid;
	grid-template-columns: 
		1fr
		1fr
		1fr;
	column-gap: 100px;
	padding: 0;
	margin: 0;
}

.products-item {
	width: 300px;
}

.products-item:first-child {
	margin-left: 140px;
}

.products-item:last-child {
	margin-right: 200px;
}

.products-img-site {
	display: block;
	background-repeat: no-repeat;
	background-image: url(img/illustration-site.jpg );
	width: 300px;
	height: 146px; 
	background-color: var(--button-red);
}

.products-img-app {
	display: block;
	background-repeat: no-repeat;
	background-image: url("img/illustration-app.jpg");
	width: 300px;
	height: 146px; 
	background-color: var(--button-green);
}

.products-img-presentation {
	display: block;
	background-image: url(img/illustration-presentation.jpg);
	background-repeat: no-repeat;
	width: 300px;
	height: 146px; 
	background-color: var(--button-yellow);
}

.about-us {
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: var(--light-black);
}

.about-us h2 {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	color: var(--basic-black);
}

.about-us h3 {
	font-weight: bold;
	text-transform: uppercase;
}

.nerds-illustration {
	display: block;
	background-image: url("img/nerds-illustration.png");
	background-repeat: no-repeat;
	width: 360px;
	height: 208px;
	background-color: var(--special);
}

.heading-table {
	text-align: center;
	color: var(--basic-black);
}

.table-row-1 {
	font-weight: bold;
	font-size: 45px;
	line-height: 64px;
	color: var(--basic-black);
}

.table-row-2 {
	line-height: 18px;
}

.button {
	display: block;
	font: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: var(--basic-white);
	border-radius: 3px;
	width: 160px;
	height: 50px;
	border: none;
}

.button-red {
	background-color: var(--button-red);
}

.button-red:hover,
.button-red:focus {
	background-color: var(--red-focus-button);
}

.button-green {
	background-color: var(--button-green);
}

.button-green:hover,
.button-green:focus {
	background-color: var(--green-focus-button);
}

.button-yellow {
	background-color: var(--button-yellow);
}

.button-yellow:hover,
.button-yellow:focus {
	background-color: var(--yellow-focus-button);
}

.contact-info {
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: var(--special-form);
	background-color: var(--basic-white);
}

.contact-info h3 {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
}
.social-networks {
	display: grid;
	grid-template-columns: 
		min-content
		1fr;
	column-gap: 139px;
	font-size: 16px;
	line-height: 22px;
	color: var(--special-social);
}

.heading-social-networks{
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	color: var(--basic-black);
}

.social-button {
	width: 81px;
	height: 81px;
	display: block;
    background-repeat: no-repeat;
    background-color: var(--special);
    border-radius: 50%;
}

.social-networks-text {
	order: 1;
	margin-top: 65px;
	margin-bottom: 74px;
}

.social-networks-list {
	display: flex;
	order: 0;
	margin-bottom: 68px;
	margin-top: 68px;
}

.vk {
	background-image: url("img/vk-icon.svg");
}
 .fb {
 	background-image: url("img/fb-icon.svg");
 }

 .inst {
 	background-image: url("img/insta-icon.svg");
 }

/*Правила для catalog.html*/


.main-catalog {
	display: flex;
	flex-wrap: wrap;
}

.main-heading {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	text-align: center;
	background-color: var(--special);
	margin-bottom: 108px;
	
}

.main-heading-conteiner {
	width: 100%;
}

.filters-conteiner { 
	width: 260px;
	margin-left: 140px;
	margin-right: 140px;
}

.models-conteiner {
	flex-grow: 1;
	width: 900px;
}

.models-list {
	display: flex;
	flex-wrap: wrap;
}

.models-item {
	margin-bottom: 71px;
}

.models-item:nth-child(1),
.models-item:nth-child(2) {
	margin-top: 40px;
}

.models-item:nth-child(2n) {
	margin-left: 41px; 
}

.models-item:nth-child(5),
.models-item:last-child {
	margin-bottom: 55px;
}

.models-navigation {
	display: flex;
	margin-left: 540px; 
}

.filter-show-button {
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: var(--basic-black);

	width: 50px;
	height: 50px;
	background-color: var(--special);
	border: none;
	border-radius: 3px;
	margin-left: 11px;
	margin-right: 11px;
}

.filter-show-button:last-child {
	width: 260px;
}

.net {
	font: inherit;
	border: none;
	font-size: 16px;
	line-height: 19px;
	color: var(--light-black);
}

.peculiarity {
	font: inherit;
	border: none;
	font-size: 16px;
	line-height: 19px;
	color: var(--light-black);
}

.legend {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.filter-show-button:hover,
.filter-show-button:focus {
	background-color: var(--grey-focus-button);
}

.products-popup {
	display: none;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: var(--special-form);
	background-color: var(--special);
}

.products-popup h3 {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
}

/* Всплвающие окна*/

.popup {
	display: flex;
	flex-wrap: wrap;

	width: 960px;
	background-color: var(--basic-white);
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-black);
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.popup form {
	display: flex;
	flex-wrap: wrap;

	margin-left: 100px;
	width: 760px;
}

.popup input {
	font: inherit;
	border: 2px solid #D7DCDE;
	box-sizing: border-box;
	border-radius: 3px;
	opacity: 0.5;
	color: var(--special-social);
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
}

.popup h2 {
	padding-right: 438px;
	margin-top: 63px;
	margin-left: 100px;
	font-weight: bold;
	font-size: 45px;
	line-height: 53px;
}

.button-close {
	margin-top: 78px;
	width: 21px;
	height: 21px;
}

.input-name{
	margin-right: 40px;
}

.input-text {
	width: 100%;
}

form .button {
	margin-top: 47px;
}
