:root {
	--basic-white: #FFF;
	--basic-black: #000;
	--light-black: #283136;

	--button-red: #FB565A;
	--button-green:  #00CA74;
	--button-yellow: #EFC849;

	--special: #EEEEEE;
	--special-gradient: #E1E1E1;
	--special-form: #666;
	--special-social: #444;

	--red-focus-button: #E74246;
	--green-focus-button: #00BC6C;
	--yellow-focus-button: #EAB534;
	--grey-focus-button: #DFDFDF;
	--active-show-button: #DBDBDB;

	--red-active: #D7373B;
	--green-active: #00AA62;
	--yellow-active: #E5A722;
	--grey-active: #D5D5D5;

	--slider-button: #C1C1C1;
	--scale-filter: #D7DCDF;
	--toggle-filter: #ABABAB;
	--toggle-shadow: #CFCFCF;

	--input-border: #D7DCDE;
	--input-border-hover: #B4B9BB;
}

body {
	min-width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-style: normal;
	font-weight: normal;
	color: var(--basic-black);
	background-color: var(--basic-white);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
	height: 100%;
}

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: 
		min-content
		1fr
		min-content;
	align-content: start;
}

.main-header {
	background-color: var(--special);
}

.main-navigation {
	display: flex;
	justify-content: space-between;

	width: 1157px;
	margin: 0 auto;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: var(--basic-black); 
	text-transform: uppercase;
}

.main-header-logo {
	width: 159.87px;
	height: 65.02px;
	margin-top: 49px;
}

.main-header-logo:active {
	opacity: 0.2;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	width: 650px;
	margin: 0;
	padding: 0;
	min-height: 30px;

}

.nav-link {
	border-bottom: 2px solid var(--special);
}

.active-nav-link {
	border-bottom: 2px solid var(--button-red);
}

.nav-link:active {
	opacity: 0.3;
}

.user-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;

	width: 200px;
	min-height: 30px;
	margin: 0;
	padding: 0;
}

.site-navigation a,
.user-navigation a {
	display: block;
	margin-right: 22px;
	margin-left: 22px;
}

.site-navigation,
.user-navigation {
	padding-top: 75px;
	padding-bottom: 75px;
}

.user-navigation .cart-link {
	position: relative;
}

.cart-link::before {
	content: "";
	position: absolute;
	top: 5px;
	right: 120px;

	width: 15px;
	height: 15px;
	background-image: url(img/cart-icon.svg);
	background-repeat: no-repeat;
	background-position: 0 0;

}

.main-navigation a {
	color: var(--basic-black);
}

.site-navigation a:focus,
.site-navigation a:hover,
.user-navigation a:focus,
.user-navigation a:hover {
	color: var(--button-red);
}

.slider {
	position: relative;

	width: 1157px;
	margin: 0 auto;
	margin-bottom: 80px;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: var(--light-black);
}

.slider-list {
  margin: 0;
  padding: 0;
 }

.slide p {
	margin-bottom: 40px;
}

.slide-img {
	position: absolute;

	width: 760px;
	height: 430px;

	bottom: -79px;
	left: 450px;
	
}

.slide-title {
	width: 400px;
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: var(--basic-black);
}

.slider-controls {
	display: flex;
	justify-content: space-between;

	position: relative;

	width: 75px;
	position: absolute;

	left: 595px;
	top: 240px;
	z-index: 20;
}

.slider-controls button {
  padding: 0;
  width: 16px;
  height: 16px;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current:before {
	content: "";
	position: absolute; 

	width: 6px;
	height: 6px;

	bottom: 3px; 
	right: 62px;

	background-color: transparent;
	background-position: 0 0;
	border: 2px solid var(--slider-button);
	border-radius: 50%;
} 

.slide {
	display: none;
}

.slide-current {
	display: block;
}

.types-products {
	position: relative;

	width: 1157px
	margin 0 auto;

	font-size: 16px;
	line-height: 24px;
	color: var(--light-black); 
	margin-bottom: 80px;
	margin-top: 80px;
}

.heading-types-products {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: var(--basic-black);
}

.products-list {
	display: grid;
	grid-template-columns: 
		1fr
		1fr
		1fr;

	position: relative;

	width: 1157px;
	padding: 0;
	margin: 0 auto;
	column-gap: 100px;
}

.products-item {
	width: 300px;
}

.products-item p {
	padding-bottom: 32px;
}

.products-img-site {
	display: block;
	background-repeat: no-repeat;
	background-image: url(img/illustration-site.jpg );
	width: 300px;
	height: 146px; 
	background-color: var(--button-red);
}

.products-img-app {
	display: block;
	background-repeat: no-repeat;
	background-image: url("img/illustration-app.jpg");
	width: 300px;
	height: 146px; 
	background-color: var(--button-green);
}

.products-img-presentation {
	display: block;
	background-image: url(img/illustration-presentation.jpg);
	background-repeat: no-repeat;
	width: 300px;
	height: 146px; 
	background-color: var(--button-yellow);
}

.about-us {
	display: grid;
	grid-template-columns: 
		1fr
		1fr;
	column-gap: 149px;

	width: 1158px;
	margin: 0 auto;
	margin-bottom: 75px;
	padding-top: 40px;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: var(--light-black);

	border-top: 2px solid var(--special);
}

.about-us-text {
	width: 651px;
}

.about-us h2 {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	color: var(--basic-black);
}

.about-us h3 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 24px;
}

.table-row-2 td {
	font-size: 16px;
	line-height: 18px;
}

.about-us-text p {
	margin-top: 32px;
	margin-bottom: 40px;
}

.about-us-table h3 {
	margin-top: 37px;
	margin-bottom: 31px;
}

.develop-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	min-height: 120px;
}

.develop-list-item {
	position: relative;
}


.develop-list-item::before {
	content: "";
	position: absolute;

	width: 25px;
	height: 2px;

	left: -40px;
	top: 10px;

	background-color: var(--button-red);
	background-position: 0 0;
}

.nerds-illustration {
	display: block;
	background-image: url("img/nerds-illustration.png");
	background-repeat: no-repeat;
	width: 360px;
	height: 208px;
	background-color: var(--special);
}

.heading-table {
	width: 358px;
	white-space: nowrap;
	color: var(--basic-black);
}

.table-cell {
	position: relative;

	font-weight: bold;
	font-size: 45px;
	line-height: 64px;
	color: var(--basic-black);
}

.table-cell span {
	position: absolute;

	top: 5px;

	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 40px;
}

.table-row-2 {
	line-height: 18px;
}

.table-row-2 td {
	width: 119px;
}

.logo-gallery {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	min-height: 180px;
	width: 1158px;
	margin: 0 auto;
	
	margin-bottom: 80px;
	border-bottom: 2px solid var(--special);
	border-top: 2px solid var(--special);
}

.logo-gallery-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	position: relative;

	width: 1180px;
	min-height: 180px;
	margin: 0 auto;


}

.logo-item {
	display: flex;
	position: relative;
	align-items: center;

	align-self: center;

	width: 240px;
	height: 52px;
	border-right: 2px solid var(--special);
}

.logo-item:last-child {
	border: none;
}

.img-logo-item {
	opacity: 0.2;
}

.img-logo-item:hover {
	opacity: 1;
}

.img-logo-item:active {
	opacity: 0.1;
}

.button {
	font: inherit;
	font-weight: 500;
	font-size: 16px;
	padding: 16px 40px; 
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: var(--basic-white);
	border-radius: 3px;
	border: none;
}

.button:hover {
	cursor: pointer;
}

.button-red {
	background-color: var(--button-red);
}

.button-red:hover,
.button-red:focus {
	background-color: var(--red-focus-button);
}

.button-red:active {
	background-color: var(--red-active);
	mix-blend-mode: normal;
	color: rgba(255, 255, 255, 0.3);
}

.button-green {
	background-color: var(--button-green);
}

.button-green:hover,
.button-green:focus {
	background-color: var(--green-focus-button);
}

.button-green:active {
	background-color: var(--green-active);
	mix-blend-mode: normal;
	color: rgba(255, 255, 255, 0.3);
}

.button-yellow {
	background-color: var(--button-yellow);
}

.button-yellow:hover,
.button-yellow:focus {
	background-color: var(--yellow-focus-button);
}

.button-yellow:active {
	background-color: var(--yellow-active);
	mix-blend-mode: normal;
	color: rgba(255, 255, 255, 0.3);
}

.button-grey:active {
	background-color: var(--grey-active);
	mix-blend-mode: normal;
	color: rgba(0, 0, 0, 0.3);
}

.contact-conteiner {
	display: flex;

	position: relative;
	width: 1440px;
	margin: 0 auto;
	margin-top: 60px;
}

.contact-info {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: absolute;
	z-index: 1;
	transform: translate(140px, 55px);

	width: 319px;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: var(--special-form);
	background-color: var(--basic-white);
	background-position: 0 0;
}

.contact-info h3 {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	margin-top: 49px;
	width: 210px;
	text-transform: uppercase;
	color: var(--basic-black);
}

.contact-info p {
	margin-top: 22.71px;
	width: 210px;
}

.contact-info button {
	white-space: nowrap;
	width: 215px;
	margin-top: 37.29px;
	margin-bottom: 47px;
}

.contact-info a {
	width: 210px;
	text-decoration: none;
	color: var(--special-form);
}

.heading-social-networks{
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	color: var(--basic-black);
}

.map {
	position: relative;
	margin: 0 auto;
}

.map::before {
	content: "";
	position: absolute;

	top: 86px;
	left: 823px;


	width: 231px;
	height: 190px;

	background-image: url(img/map-marker.png);
	background-position: 0 0;
	background-repeat: no-repeat;

}

.social-networks {
	display: flex;
	justify-content: space-between;

	width: 1157px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 22px;
	color: var(--special-social);
}

.social-networks-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;	

	width: 260px;
	order: 0;
	margin-bottom: 68px;
	margin-top: 68px;
}

.social-button {
	width: 81px;
	height: 81px;
	display: block;
    background-repeat: no-repeat;
    background-color: var(--special);
    border-radius: 50%;
}

.social-networks-text {
	width: 660px;
	order: 1;
	margin-top: 65px;
	margin-bottom: 74px;
}

.social-button {
	position: relative;
}

.vk svg{
	position: absolute;
	top: 40%;
	left: 34%;
}

.fb svg{
	position: absolute;
	top: 35%;
	left: 43%;
}


.inst svg{
	position: absolute;
	top: 37%;
	left: 38%;
}


.social-button:hover,
.social-button:focus {
	background-color: var(--button-red);
}

.social-button:active,
.vk:active {
	background-color: var(--red-active);
	fill-opacity: 0.3;
}

/*Правила для catalog.html*/

.main-catalog {
	display: flex;
	flex-wrap: wrap;

	width: 100%;
	margin: 0 auto;
}

.main-heading-conteiner {
	background-color: var(--special);
	width: 100%;
}

.main-conteiner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 1160px;
	padding: 0;
	margin: 0 auto;
	padding-top: 55px; 
}

.main-heading {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	text-align: center;
	margin-bottom: 108px;	
}

.filters-conteiner { 
	width: 260px;
}

.filter-item {
	width: 260px;
	padding: 0;
	margin: 0;
	margin-bottom: 54px;
	border: none;
}

.range-filter {
	width: 260px;
	margin-top: 0px; 
}

.range-controls {
	position: relative;
	height: 41px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 15px;
	background-color: var(--special);
	border-radius: 5px;
}

.filter-item legend {
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 71px;
}

.range-controls .scale {
	height: 2px;
	background-color: var(--scale-filter);
}

.range-controls .bar {
	width: 70%;
	height: 2px;
	background-color: var(--button-green);
}

.range-controls .toggle {
	position: absolute;

	top: 30px;
	left: 0;

	width: 4px;
	height: 4px;
	padding: 0;
	background-color: var(--toggle-filter);		
	background-position: 0 0;	
	border: 8px solid var(--basic-white);
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 var(--toggle-shadow);
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controld {
	display: flex;
	justify-content: space-between;
}

.price-controls label {
	text-transform: uppercase;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
}

.price-controls input {
	width: 60px;
	padding: 10px;
	margin-left: 10px;
	text-align: center;
	color: var(--light-black);
	border: none;
	border-radius: 5px;
	background-color: var(--special);
	font-family: inherit;
	font-size: inherit;
}

.net {
	font: inherit;
	border: none;
	font-size: 16px;
	line-height: 19px;
	color: var(--light-black);
	padding: 0;
}


.filters-list {
	text-decoration: none;
}

.filter-option label{
	display: block;

	position: relative;
	cursor: pointer;
	user-select: none;

	margin: 0;
}

.filter-option {
	margin-bottom: 20px;
}

.net {
	margin-bottom: 46px;
}

.peculiarity {
	margin-bottom: 67px;
}

.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	left: -36px;
	top: -2px;

	width: 21px;
	height: 19px;

	border: 2px solid #4D4D4D;
	border-radius: 5px;
	opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
	content: "";
	position: absolute;
	left: -36px;

	width: 26px;
	height: 23px;

	background-image: url(img/checkbox-on.svg);
	background-position: 0 0;
	background-repeat: no-repeat;
	border: none;

	opacity: 0.4;
}

.filter-input-radio + label::before {
	content: "";
	position: absolute;
	left: -36px;
	top: -5px;

	width: 16px;
	height: 16px;

	border: 4px solid #4D4D4D;
	border-radius: 30px;

	opacity: 0.4;
} 

.filter-input-radio:checked + label::before {
	content: "";
	position: absolute;
	left: -36px;

	width: 25px;
	height: 25px;

	border: none;

	background-image: url(img/radio-on.svg);
	background-position: 0 0;
	background-repeat: no-repeat;

	opacity: 0.4;
}

.filter-input-radio + label:hover:before,
.filter-input-radio + label:focus:before {
	opacity: 1;
}

.filter-input-checkbox + label:hover:before,
.filter-input-checkbox + label:focus:before {
	opacity: 1;
}

.filter-input-checkbox + .disabled {
	opacity: 0.1;
}

.filter-input-radio + .disabled {
	opacity: 0.1;
}

.peculiarity {
	font: inherit;
	border: none;
	font-size: 16px;
	line-height: 19px;
	color: var(--light-black);
	padding: 0;
}

.legend {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}


.models-conteiner {
	display: flex;
	flex-wrap: wrap;

	width: 760px;
	margin: 0;	
	padding: 0;
}

.breadcrumbs-conteiner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 760px;
	margin: 0;	
	padding: 0;
}

.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	

	width: 370px;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;

	margin: 0;
	padding: 0;
	margin-bottom: 48px;
}

.breadcrumbs a {
	text-decoration: none;
	opacity: 0.3;
	color: var(--basic-black);
}

.breadcrumbs .active-sort {
	opacity: 1;
}

.breadcrumbs a:active {
	opacity: 1;
}

.sort-up,
.sort-down {
	width: 11px;
	height: 10px;
}

.crumb-link:hover,
.crumb-link:focus {
	opacity: 0.6;
	cursor: pointer;
}

.sort:hover,
.sort:focus {
	opacity: 0.6;
	cursor: pointer;
}

.crumb-link:active,
.sort:active {
	color: var(--basic-black);
	fill-opacity: 1;
}

.active-sort {
	color: var(--basic-black);
	fill-opacity: 1;
	fill: var(--basic-black);
}

.breadcrumbs li {
	white-space: nowrap;
 	margin-right: 25px;
} 	

.breadcrumbs-heading {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
	margin-top: -6px;
}

.models-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
	padding: 0;
	margin-bottom: 0;
}

.models-item {
	position: relative;

	width: 360px;
	margin-bottom: 71px;
}

.models-item:nth-of-type(5),
.models-item:nth-of-type(6) {
	margin-bottom: 0px;
}

.models-item::before {
	content: "";
	position: absolute;
	top: -40px;

	background-image: url(img/browser.svg);
	background-repeat: no-repeat;
	background-position: 0 0;

	width: 360px;
	height: 40px;
	opacity: 0.12;
}

.models-item:hover:before,
.models-item:focus:before {
	opacity: 1;
	cursor: pointer;
}

.models-navigation {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
 
 	max-width: 760px;
	margin: 0;
	margin-top: 55px;
}


.filter-show-button {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: var(--basic-black);
	text-transform: uppercase;

	padding-top: 17px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px; 
	margin-right: 11px;
	background-color: var(--special);
	border: none;
	border-radius: 3px;
}

.filter-show-button:last-child {
	padding-left: 78px;
	padding-right: 77px;
}

.filter-show-button:hover,
.filter-show-button:focus {
	background-color: var(--grey-focus-button);
}

.active-show-button {
	align-self: center;
	padding-top: 14px;
	padding-bottom: 12px;
	background-color: var(--basic-white);
	border: 3px solid var(--active-show-button);
}

/* Всплвающие окна*/

.popup {
	display: none;
	flex-wrap: wrap;
	justify-content: center;

	position: fixed;

	top: 5%;
	left: 0;
	right: 0;

	margin: auto;
	width: 960px;
	max-height: 590px;
	padding-bottom: 84px;
	padding-top: 63px;

	background-color: var(--basic-white);
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-black);
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);

	z-index: 22;
	 
}

.popup-show {
	display: flex;
	animation: bounce 0.8s;
}

.popup-eror {
	animation: shake 0.8s;
}

.popup form {	 	
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	position: relative;

	width: 760px;
	margin: 0;
	padding: 0;
}

.popup input,
.popup textarea {
	font: inherit;
	border: 2px solid var(--input-border);
	box-sizing: border-box;
	border-radius: 3px;
	opacity: 0.5;
	color: var(--special-social);
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
}

.popup input:hover,
.popup textarea:hover {
	border: 2px solid var(--input-border-hover);
}

.popup input:focus,
.popup textarea:focus {
	opacity: 1;
}

.popup input:invalid:not(:placeholder-shown),
.popup textarea:invalid:not(:placeholder-shown) {
	border-color: var(--red-focus-button);
}

.popup h2 {
	margin-right: 450px;
	font-weight: bold;
	font-size: 45px;
	line-height: 53px;
	margin-top: 0px;
	margin-bottom: 37px;
}

.input {
	display: flex;
	flex-direction: column;
}

.input label {
	padding-bottom: 9px;
}

.input input,
.input textarea {
	padding: 16px;
}

.appointment-name,
.appointment-email {
	width: 360px;
	height: 50px;
}

.appointment-text{
	width: 760px;
	height: 120px;
	resize: none;
}

.button-close {
	position: absolute;

	left: 850px;
	top: 70px;

	background-image: url(img/close-cross.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: transparent;
	border: none;
	width: 21px;
	height: 21px;
	opacity: 0.3;
}

.button-close:hover,
.buton-close:focus {
	opacity: 1;
	cursor: pointer;
}

.button-close:active {
	opacity: 0.1;
}

.input-name{
	margin-right: 40px;
}

.input-text {
	width: 100%;
}

.appointment-form .button {
	padding: 17px 83px;
}


.products-popup {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: absolute;
	z-index: 20;

	bottom: 0px;

	width: 100%;

	padding-bottom: 44px;
	padding-top: 26px;

	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: var(--special-form);
	background-color: var(--special);
}

.products-popup h3 {
	margin: 0;

	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
}

.products-popup h3:hover,
.products-popup h3:focus {
	color: var(--button-red);
	cursor: pointer;
}

.products-popup h3:active {
	opacity: 0.3;
}

.products-popup p {
	width: 255px;
	text-align: center;
	margin-top: 12px;
	margin-bottom: 32px;
}

.products-popup .button {
	padding-left: 72px;
	padding-right: 72px;
}

.products-popup .button:active {
	color: rgba(255, 255, 255, 1);
}

.models-item > .products-popup {
	opacity: 0;
}

.models-item:hover .products-popup{
	opacity: 1;	
}

/*Animations*/

@keyframes bounce {
	0% {
    transform: translateY(-2000px);
	}

	50% {
		transform: translateY(30px);
	}

	70% {
	  transform: translateY(-40px);
	}

	90% {
		transform: translateY(20px);
	}

	100% {
	  transform: translateY(0);
	}
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-20px);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translateX(20px);
	}
}



