:root {
	--basic-white: #fff;
	--basic-black: #000;
	--light-black: #283136;

	--button-red: #FB565A;
	--button-green:  #00CA74;
	--button-yellow: #EFC849;

	--special: #eee;
	--special-gradient: #e1e1e1;
	--special-form: #666;
	--special-social: #444;

	--focus-link: #FB565A;
	--red-focus-button: #E74246;
	--green-focus-button: #00BC6C;
	--yellow-focus-button: #EAB534;
}

body {
	min-width: 1460px;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-style: normal;
	font-weight: normal;
	color: var(--basic-black);
	background-color: var(--basic-white);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}


/*Мне показалось более логичным сразу у всех списков убрать изначальное оформление, 
чтобы не прописывать потом это несколько раз*/


ul {
	list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-navigation {
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: var(--basic-black);
	background-color: var(--special); 
}

.main-navigation a {
	color: var(--basic-black);
}

.site-navigation a:focus,
.site-navigation a:hover,
.user-navigation a:focus,
.user-navigation a:hover {
	color: var(--focus-link);
}

.description {
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: var(--light-black);
}

.description span {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: var(--basic-black);
}

.types-products {
	font-size: 16px;
	line-height: 24px;
	color: var(--light-black); 
}

.heading-types-products {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: var(--basic-black);
}

.products-item-1 {
	width: 300px;
	height: 146px;
}

.products-item-1 div {
	display: block;
	background-repeat: no-repeat;
	background-image: url(img/illustration-site.jpg);
	width: 300px;
	height: 146px; 
	background-color: var(--button-red);
}

.products-item-1 a:focus,
.products-item-1 a:hover {
	background-color: var(--red-focus-button);
}

.products-item-2 {
	width: 300px;
	height: 146px;
}

.products-item-2 div {
	display: block;
	background-repeat: no-repeat;
	background-image: url("img/illustration-app.jpg");
	width: 300px;
	height: 146px; 
	background-color: var(--button-green);
}


.products-item-2 a:focus,
.products-item-2 a:hover {
	background-color: var(--green-focus-button);
}

.products-item-3 {
	width: 300px;
	height: 146px;
}

.products-item-3 div {
	background-image: url(img/illustration-presentation.jpg);
	display: block;
	background-repeat: no-repeat;
	width: 300px;
	height: 146px; 
	background-color: var(--button-yellow);
}

.products-item-3 a:focus,
.products-item-3 a:hover {
	background-color: var(--yellow-focus-button);
}

.button {
	font: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: var(--basic-white);
	border-radius: 3px;
	width: 160px;
	height: 50px;
}

.button-red {
	background-color: var(--button-red);
}

.button-green {
	background-color: var(--button-green);
}

.button-yellow {
	background-color: var(--button-yellow);
}

.popup {
	display: none;
}

.social-networks {
	font-size: 16px;
	line-height: 22px;
	color: var(--special-social);
}

.heading-social-networks{
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	text-align: center;
	color: var(--basic-black);
}

.social-networks p{
	text-align: center;
}

.social-button {
	width: 81px;
	height: 81px;
	/*Тут если использовать var(--special-gradient) вместо #E1E1E1 не мачится текст, поэтому оставил так*/
}

.vk {
	display: block;
    background-repeat: no-repeat;
	background-image: url("img/vk-icon.svg");
}
 .fb {
 	display: block;
    background-repeat: no-repeat;
 	background-image: url("img/fb-icon.svg");
 }

 .inst {
 	display: block;
    background-repeat: no-repeat;
 	background-image: url("img/insta-icon.svg");
 }

/*Правила для catalog.html*/


.main-heading {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	text-align: center;
	background-color: var(--special);
}
.net {
	font: inherit;
	border: none;
	font-size: 16px;
	line-height: 19px;
	color: var(--light-black);
}

.peculiarity {
	font: inherit;
	border: none;
	font-size: 16px;
	line-height: 19px;
	color: var(--light-black);
}

.legend {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.filter-show-button {
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: var(--basic-black);

	width: 260px;
	height: 50px;
	background-color: var(--special);
	border-radius: 3px;
}